body {
        font-family: sans-serif;
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 100vh;
        background-image: url('th.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        /* background-color: #339513;  */
}


.container {
    background-color: #e2db54;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 30px;
    text-align: center;
}

.title {
    font-size: 2em;
    margin-bottom: 10px;
}

.slogan {
    font-size: 1.2em;
    margin-bottom: 20px;
}

.image-upload {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 20px;
}

.image-upload img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 50%;
}

.button {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.button:hover {
    background-color: #222;
}